* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
  color: white
}

body {
  height: 100vh;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  background: black;
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
}

.screen {
  height: 4rem;
  margin-bottom: 4rem;
  font-size: 3rem;
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4,1fr) ;
  gap: .5rem;
  justify-content: center;
}

.button {
  background: #333333;
  font-size: 1.5rem;
  width: 4rem;
  height: 4rem;
  padding: 10px;
  color: "black";
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer ;
  text-align: center;
  border: none;
}

.button:hover {
  border: 2px solid;
}

.operations {
  background: orange;
  color: "white";
  font-size: 2rem;
}

.numbers {
  font-size: 2rem;
}

.mis {
  background: lightgray;
  color: black;
}